body{
    height: 50vh;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 700px;
  }
  
  .product-card img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .product-info {
    margin-top: 8px;
  }
  