body{
    height: 200vh;
    margin: 0;
    padding: 0;
}

.asianfood{
    background-image: url('https://cdn.tasteatlas.com/images/dishes/b6b9680a32c84a9381a1ea5f5e529698.jpg');
    width: 100%;
    height: 70vh;
}
.text{
    position: relative;
    bottom: 300px;
    left: 25%;
    width: fit-content;
}
.text h1{
    color: white;
}